
// GRID WRAP
.comics{
    background-color: #191818;
}


// GRID STYLE

.comics-list{
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    // 1fr 1fr 1fr 1fr 1fr 1fr;
    // 200px 200px 200px 200px;
    grid-gap: 2rem;
    img{
        width: 100%;
    };
    h3{
        color: azure;
    }
}

// BUTTON
.button{
    display: flex;
    align-items: center;
    justify-content: center;

}
.blue-botton{
    padding: 10px;
    background-color:rgb(65, 65, 255);
    color: #ffff;
    border: none;
    width:200px;
    margin-bottom: 30px;
}

.section-blue{
    height:200px;
    background:rgb(65, 65, 255);
            ul{
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
              }
            li{
                margin-top: 100px;
            }
            a {

                  color: white;
              }
}
