// LAYOUT

.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 1rem;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}

// SPACERS WOW WOW

@each $size in 0, 1, 2, 3, 4, 6, 8,9, 10, 12 {
    .mt-#{$size} {
        margin-top: $size + 0rem;
    }
    .pt-#{$size} {
        padding-top: $size + 0rem;
    }
    .mb-#{$size} {
        margin-bottom: $size + 0rem;
    }
    .pb-#{$size} {
        padding-bottom: $size + 0rem;
    }
}
